form.product {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

form.product img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}